<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bbs.mapper.CardReplyReplyMapper">
    
    <resultMap type="CardReplyReply" id="CardReplyReplyResult">
        <result property="id"    column="id"    />
        <result property="message"    column="message"    />
        <result property="createById"    column="create_by_id"    />
        <result property="cardId"    column="card_id"    />
        <result property="replyId"    column="reply_id"    />
        <result property="replyToId"    column="reply_to_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectCardReplyReplyVo">
        select id, message, create_by_id, card_id, reply_id, reply_to_id, create_time, update_time, status from card_reply_reply
    </sql>

    <select id="selectCardReplyReplyList" parameterType="CardReplyReply" resultMap="CardReplyReplyResult">
        <include refid="selectCardReplyReplyVo"/>
        <where>  
            <if test="message != null  and message != ''"> and message = #{message}</if>
            <if test="createById != null  and createById != ''"> and create_by_id = #{createById}</if>
            <if test="cardId != null  and cardId != ''"> and card_id = #{cardId}</if>
            <if test="replyId != null  and replyId != ''"> and reply_id = #{replyId}</if>
            <if test="replyToId != null  and replyToId != ''"> and reply_to_id = #{replyToId}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectCardReplyReplyById" parameterType="Long" resultMap="CardReplyReplyResult">
        <include refid="selectCardReplyReplyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCardReplyReply" parameterType="CardReplyReply" useGeneratedKeys="true" keyProperty="id">
        insert into card_reply_reply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="message != null">message,</if>
            <if test="createById != null and createById != ''">create_by_id,</if>
            <if test="cardId != null and cardId != ''">card_id,</if>
            <if test="replyId != null and replyId != ''">reply_id,</if>
            <if test="replyToId != null">reply_to_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="message != null">#{message},</if>
            <if test="createById != null and createById != ''">#{createById},</if>
            <if test="cardId != null and cardId != ''">#{cardId},</if>
            <if test="replyId != null and replyId != ''">#{replyId},</if>
            <if test="replyToId != null">#{replyToId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateCardReplyReply" parameterType="CardReplyReply">
        update card_reply_reply
        <trim prefix="SET" suffixOverrides=",">
            <if test="message != null">message = #{message},</if>
            <if test="createById != null and createById != ''">create_by_id = #{createById},</if>
            <if test="cardId != null and cardId != ''">card_id = #{cardId},</if>
            <if test="replyId != null and replyId != ''">reply_id = #{replyId},</if>
            <if test="replyToId != null">reply_to_id = #{replyToId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCardReplyReplyById" parameterType="Long">
        delete from card_reply_reply where id = #{id}
    </delete>

    <delete id="deleteCardReplyReplyByIds" parameterType="String">
        delete from card_reply_reply where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>